GSCCCA_USERNAME=
GSCCCA_PASSWORD=

# Run Browser in background, Headless choices (True, False). Set to True if want to run as background service
HEADLESS=

# OS_NAME choices (macos, windows, linux)
OS_NAME=